/.web-server-pid
/app/config/params.yml
/build/
/phpunit.xml
/var/*
!/var/tmp/cache
/var/tmp/cache/*
!var/tmp/cache/.gitkeep
!/var/logs
!/var/tmp
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
